*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Quicksand", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #eff4f6;
  background-image: url("../../assets/mybg.png");
  background-attachment: fixed;
}

main p {
  padding-bottom: 20px;
}

.pages {
  max-width: 1080px;
  padding: 20px;
  margin: 10px auto;
  min-height: calc(100vh - 70px);
  margin-bottom: 90px;
}

.active {
  color: #e97171;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .active {
    display: block;
    text-decoration: none;
    background-color: #ffcb8e;
    color: #931a25;
    padding: 10px 20px;
    border-radius: 0.25rem;
  }

  .active:hover {
    background-color: #931a25;
    color: #ffcb8e;
  }
}
h1 {
  text-align: center;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 28px;
  }
}
h3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }
}
a {
  color: #ffd24e;
}

h5 {
  font-weight: 500;
}

.navbar {
  background-color: #eff4f6;
  box-shadow: 0 0.1px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar__name {
  color: #931a25;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  list-style: none;
}

.navbar__list__item__link {
  color: #931a25;
  text-decoration: none;
}

.navbar__list__item__link:hover {
  color: #e97171;
}

@media only screen and (max-width: 600px) {
  .navbar__list__item {
    display: none;
  }
}
.navbar__button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .navbar__button__component {
    display: block;
    font-size: 25px;
  }
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 20px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #625261;
  opacity: 0.4;
}

.sidebar {
  display: none;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    padding: 4rem 2rem;
    transition: transform 0.3s ease-out;
    background-color: #eff4f6;
    background-color: rosybrown;
  }

  .sidebar__list {
    list-style: none;
  }

  .sidebar__list__item {
    margin: 30px 0;
  }

  .sidebar__list__item__link {
    display: block;
    text-decoration: none;
    background-color: #e97171;
    color: #931a25;
    padding: 10px 20px;
    border-radius: 0.25rem;
  }

  .sidebar__list__item__link:hover {
    background-color: #931a25;
    color: #ffcb8e;
  }
}
.sidebar--open {
  transform: translateX(0);
}

.sidebar--closed {
  transform: translateX(-100%);
}

.footer {
  clear: both;
  position: relative;
  margin-top: -80px;
  bottom: 0;
  background-color: #2b3838;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.footer h2 {
  background-color: purple;
}

.footer .copyright {
  vertical-align: middle;
  line-height: 10px;
}

.skill-card {
  flex-basis: 30%;
  height: 100px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  transition: transform 0.3s linear;
}

.skill-card img {
  width: 100px;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.about__header__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about__header__profile__avatar {
  padding: 0 5px;
}

.about__header__profile__status {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 5px;
}

.about__header__profile__status__sub-name {
  color: #7f7f7f;
  font-size: small;
}

.about__content__signature {
  height: 100px;
}

.about__content__signature img {
  height: inherit;
}

@media only screen and (max-width: 600px) {
  .about__content__signature img {
    width: 100%;
  }
}
.about__content__socials .social-icons {
  display: flex;
}

.about__content__socials .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
}

.about__content__socials .social-icon:hover {
  color: #fff;
}

.about__content__socials .social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}

.about__content__socials .social-icon:active {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.about__content__socials .social-icon--steam {
  background: #1b2838;
  color: #fff;
}

.about__content__socials .social-icon--steam .tooltip {
  background: #1b2838;
  color: currentColor;
}

.about__content__socials .social-icon--steam .tooltip:after {
  border-top-color: #1b2838;
}

.about__content__socials .social-icon--github {
  background: #24292f;
  color: #fff;
}

.about__content__socials .social-icon--github .tooltip {
  background: #24292f;
  color: currentColor;
}

.about__content__socials .social-icon--github .tooltip:after {
  border-top-color: #24292f;
}

.about__content__socials .tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}

.about__content__socials .tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.projects__content__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .projects__content__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.skills__content__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.home {
  margin-top: 20vh;
}

.home__gif {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.home__gif img {
  max-width: 260px;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
