@use "../helpers" as *;

// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: $primary-font;

	// border: 1px solid gray;
	// overflow-x: hidden;
	// transition: 0.3s;
}

body {
	box-sizing: border-box;
	background-color: $fourth-color;
	// background-color: black;
	background-image: url("../../assets/mybg13.png");
	// background-size: cover;
	background-position: bottom;
	// background-repeat: no-repeat;

	background-attachment: fixed;
}

main {
	p {
		padding-bottom: 20px;
	}
}

// router pages
.pages {
	max-width: 1080px;
	padding: 20px;
	margin: 10px auto;

	// https://css-tricks.com/couple-takes-sticky-footer/
	min-height: calc(100vh - 70px);
	margin-bottom: 90px;

	// padding: 0 8rem;
	@include display(tab-port) {
		// font-size: smaller;
		// padding: 20px 40px;
		// margin-bottom: 80px;
	}
	@include display(phone) {
		// padding: 20px;
		// margin-bottom: 80px;
	}
}

// navlink for navbar & sidebar
.active {
	color: $secondary-color;
	text-decoration: none;

	@include display(phone) {
		display: block;
		text-decoration: none;
		background-color: $third-color;
		color: $primary-color;
		padding: 10px 20px;
		border-radius: 0.25rem;
		&:hover {
			background-color: $primary-color;
			color: $secondary-color;
		}
	}
}
