.skill-card {
	flex-basis: 30%;
	height: 100px;
	background-color: #fafafa;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 8px;
	transition: transform 0.3s linear;

	&:hover {
		transform: translateY(-5px);
	}
	&__coming {
		position: absolute;
		// https://animista.net/
		animation: swing 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
		@keyframes swing {
			0% {
				transform: rotateX(-100deg);
				transform-origin: top;
				opacity: 0;
			}
			100% {
				transform: rotateX(0deg);
				transform-origin: top;
				opacity: 1;
			}
		}
	}
	img {
		width: 100px;
	}
}
