.skill-card {
	// background-color: cornflowerblue;
	// background-image: url("../../assets/github.png");
	// background-size: cover;

	flex-basis: 30%;
	height: 100px;
	background-color: #f6f6f6;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 8px;

	transition: transform 0.3s linear;
	img {
		width: 100px;
	}
	&:hover {
		// transform: scale(1.3);
		transform: translateY(-5px);
	}
}
