@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 2rem;
    margin-bottom: 80px;
  }
}

.active {
  color: #e97171;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .active {
    display: block;
    text-decoration: none;
    background-color: #ffcb8e;
    color: #931a25;
    padding: 10px 20px;
    border-radius: 0.25rem;
  }
  .active:hover {
    background-color: #931a25;
    color: #ffcb8e;
  }
}

.navbar {
  background-color: #f5efef;
  box-shadow: 0 0.1px 4px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.navbar__name {
  color: #931a25;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  list-style: none;
}
.navbar__list__item__link {
  color: #931a25;
  text-decoration: none;
}
.navbar__list__item__link:hover {
  color: #e97171;
}
@media only screen and (max-width: 600px) {
  .navbar__list__item {
    display: none;
  }
}
.navbar__button {
  display: none;
}
@media only screen and (max-width: 600px) {
  .navbar__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .navbar__button__component {
    display: block;
    font-size: 25px;
  }
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #625261;
  opacity: 0.4;
}

.sidebar {
  display: none;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 45%;
    height: 100%;
    padding: 4rem 2rem;
    transition: transform 0.3s ease-out;
    background-color: #f5efef;
    background-color: rosybrown;
  }
  .sidebar__list {
    list-style: none;
  }
  .sidebar__list__item {
    margin: 30px 0;
  }
  .sidebar__list__item__link {
    display: block;
    text-decoration: none;
    background-color: #e97171;
    color: #931a25;
    padding: 10px 20px;
    border-radius: 0.25rem;
  }
  .sidebar__list__item__link:hover {
    background-color: #931a25;
    color: #ffcb8e;
  }
}
.sidebar--open {
  transform: translateX(0);
}
.sidebar--closed {
  transform: translateX(-100%);
}

.footer {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
}
.footer h2 {
  background-color: purple;
}

/*# sourceMappingURL=style.css.map */
