//pallete
$primary-color: #931a25;
$secondary-color: #e97171;
$third-color: #ffcb8e;
$fourth-color: #eff4f6;

//backdrop sidebar
$backdrop-color: #625261;

//grey thing
$grey-color: #7f7f7f;

//var social media icon
$color-steam: #1b2838;
$color-github: #24292f;
