//pallete
$primary-color: #1976d2;
$secondary-color: #adff2f;
$third-color: #42dee1;
$fourth-color: #eff4f6;

// 0 background => putih kebiruan
// 1 nav, footer => biru primary
// 2 link a, link nav => hijau, hijau tua
// 3 link nav active =>
// 4 card button => biru info
// 5 demo link => biru info
// 6 card contex =>

//backdrop sidebar
$backdrop-color: #1b2838;

//grey thing
$white-thing: #fff;

//grey thing
$grey-thing: #555;

//var social media icon
$color-steam: #1b2838;
$color-github: #24292f;
