//pallete
$primary-color: #931a25;
$secondary-color: #adff2f;
$third-color: #ffcb8e;
$fourth-color: #eff4f6;

// 0 background => putih kebiruan
// 1 nav, footer => biru primary
// 2 link a, link nav =>
// 4 card button => biru info
// 5 demo link => biru info
// 6 card contex =>

//backdrop sidebar
$backdrop-color: #625261;

//grey thing
$grey-color: #7f7f7f;

//var social media icon
$color-steam: #1b2838;
$color-github: #24292f;
