@use "../helpers" as *;
.about {
	&__header {
		&__title {
			// h1 typography
		}
		&__profile {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;

			&__avatar {
				padding: 0 5px;
			}
			&__status {
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: 0 5px;
				&__name {
				}
				&__sub-name {
					color: #555;
					font-size: small;
					text-shadow: 1px 1px 2px white;
				}
			}
		}
		&__sub-title {
			// h3 typography
		}
	}
	//DRY -> content,paragtaph/<p>
	&__content {
		a {
			// color: #44b700;
			color: darken($secondary-color, 30%);
		}
		&__signature {
			height: 100px;
			img {
				height: inherit;
				@include display(phone) {
					width: 100%;
				}
			}
		}
		&__socials {
			.social-icons {
				display: flex;
			}
			.social-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: 40px;
				height: 40px;
				// margin: 0 0.5rem;
				margin-right: 0.5rem;
				border-radius: 50%;
				cursor: pointer;
				// font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
				// text-decoration: none;
				transition: all 0.15s ease;
				&:hover {
					color: #fff;

					.tooltip {
						visibility: visible;
						opacity: 1;
						transform: translate(-50%, -150%);
					}
				}
				&:active {
					box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
						rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
						rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
				}
				&--steam {
					@include social-icon($color-steam);
				}

				&--github {
					@include social-icon($color-github);
				}
			}
			.tooltip {
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				// padding: 0.8rem 1rem;
				padding: 5px;
				border-radius: 5px;
				font-size: 0.8rem;
				font-weight: bold;
				opacity: 0;
				pointer-events: none;
				// text-transform: uppercase;
				transform: translate(-50%, -100%);
				transition: all 0.3s ease;
				z-index: 1;
				&:after {
					display: block;
					position: absolute;
					bottom: 1px;
					left: 50%;
					width: 0;
					height: 0;
					content: "";
					border: solid;
					border-width: 10px 10px 0 10px;
					border-color: transparent;
					transform: translate(-50%, 100%);
				}
			}
		}
	}
}
