// @use "../helpers" as *;
.about {
	&__header {
		&__title {
			// h1 typography
		}
		&__profile {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;

			&__avatar {
				padding: 0 5px;
			}
			&__status {
				display: flex;
				justify-content: center;
				flex-direction: column;
				padding: 0 5px;
				&__name {
				}
				&__sub-name {
					color: #7f7f7f;
					font-size: small;
				}
			}
		}
		&__sub-title {
			// h3 typography
		}
	}
	//DRY -> content,paragtaph/<p>
	&__content {
	}
}
